<form class="form-inline" action="/submit-form" method="post">
  <div class="container mt-5" style="width: 800px">
    <div class="row">
      <div class="row">
        <div class="col shadow-sm p-3 mb-3 bg-body rounded mx-3">
          <h3>
            <strong>Client details</strong>
          </h3>
         <div class="row mb-3">
      <div class="col">
        <input type="text" name="firstName" placeholder="First name" class="form-control" />
      </div>
      <div class="col">
        <input type="text" name="lastName" placeholder="Last name" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <input type="tel" name="phone" placeholder="Phone" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <input type="email" name="email" placeholder="Email (optional)" class="form-control" />
      </div>
    </div>
        </div>
        <div class="col shadow-sm p-3 mb-3 bg-body rounded">
          <h3>
            <strong>Job details</strong>
          </h3>
          <div class="row mb-3">
      <div class="col">
        <select name="jobType" class="form-select mb-1">
          <option selected>Jop type</option>
          <option value="1">One_type</option>
          <option value="2">Two_type</option>
          <option value="3">Three_type</option>
        </select>
      </div>
      <div class="col">
        <select name="jobSource" class="form-select mb-1">
          <option selected>Job source</option>
          <option value="1">One_source</option>
          <option value="2">Two_source</option>
          <option value="3">Three_source</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <textarea name="jobDescription" placeholder="Job description (optional)" class="form-control" style="height:85px"></textarea>
      </div>
    </div>
      </div>
      </div>
    <div class="row">
      <div class="col shadow-sm p-3 mb-5 bg-body rounded mx-3">
        <h3>
          <strong>Service location</strong>
        </h3>
        <div class="row mb-3">
    <div class="col">
      <input type="text" name="address" placeholder="Address" class="form-control" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="text" name="city" placeholder="City" class="form-control" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="text" name="state" placeholder="State" class="form-control" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="number" name="zipCode" placeholder="Zip code" class="form-control" />
    </div>
    <div class="col">
      <select name="area" class="form-select mb-1">
        <option selected>Area</option>
        <option value="1">One_Area</option>
        <option value="2">Two_Area</option>
        <option value="3">Three_Area</option>
      </select>
    </div>
  </div>
      </div>

      <div class="col shadow-sm p-3 mb-5 bg-body rounded">
        <h3>
          <strong>Scheduled</strong>
        </h3>

         <div class="row mb-3">
    <div class="col">
      <input type="date" name="startDate" placeholder="Start date" class="form-control" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="input-group">
        <input type="time" name="startTime" class="form-control" placeholder="Start time" aria-describedby="start_time">
        <span class="input-group-text" id="start_time">Time</span>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <input type="time" name="endTime" class="form-control" placeholder="End time" aria-describedby="end_time">
        <span class="input-group-text" id="end_time">Time</span>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
          <select name="testSelect" class="form-select mb-1">
            <option selected>Test select</option>
            <option value="1">One_test</option>
            <option value="2">Two_test</option>
            <option value="3">Three_test</option>
          </select>
        </div>
      </div>
    </div>
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-warning">Save info</button>
        </div>
      </div>
    </div> 
  </div>
</form>